<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="page-header">
	<h1 class="page-title">Beranda</h1>
</div>

<div class="row row-cards">
</div>