<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="row" id="div-tabel">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Tabel Pengajuan</h3>&nbsp;
				<button id="tambah" class="btn btn-primary btn-sm ml-auto" type="button">Tambah Data</button>
			</div>
			<div class="table-responsive">
				<table id="tabel-ruh" class="table card-table table-vcenter text-nowrap">
					<thead>
						<tr>
							<th>No</th>
							<th>Nama</th>
							<th>Inisiator/<br>Pengundang</th>
							<th>Nama Kegiatan</th>
							<th>Tanggal<br>Mulai</th>
							<th>Tanggal<br>Akhir</th>
							<th>Kota</th>
							<th>Status</th>
							<th>Aksi</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row" id="div-form">
	<div class="col-12">
		<div class="card">

			<form id="form-ruh">
			<input type="hidden" id="inp-id" name="inp-id">
			<input type="hidden" id="inp-new" name="inp-new">
			<input type="hidden" id="_token" name="_token">

			<div class="card-header">
				<h3 class="card-title">Form Pengajuan</h3>&nbsp;
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="form-group">
							<label class="form-label">Inisiator/Pengundang</label>
							<input type="text" class="form-control" id="unit_undang" name="unit_undang">
							<div id="warning-unit_undang" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Nomor Surat</label>
							<input type="text" class="form-control" id="no_surat" name="no_surat">
							<div id="warning-no_surat" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Tanggal Surat</label>
							<input type="date" class="form-control" id="tgl_surat" name="tgl_surat">
							<div id="warning-tgl_surat" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="form-group">
							<label class="form-label">Perihal Surat</label>
							<input type="text" class="form-control" id="perihal" name="perihal">
							<div id="warning-perihal" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
					<div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Tanggal Acara (awal)</label>
							<input type="date" class="form-control" id="tgl_acara_awal" name="tgl_acara_awal">
							<div id="warning-tgl_acara_awal" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Tanggal Acara (akhir)</label>
							<input type="date" class="form-control" id="tgl_acara_akhir" name="tgl_acara_akhir">
							<div id="warning-tgl_acara_akhir" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Tujuan</label>
							<select class="form-control chosen" id="tujuan" name="tujuan">
								<option value="" style="display:none;">Pilih Data</option>
								<option value="01">Dalam Kota</option>
								<option value="02">Dalam Provinsi</option>
								<option value="03">Luar Provinsi</option>
								<option value="04">Luar Negeri</option>
							</select>
							<div id="warning-tujuan" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" id="div-negara" style="display:none;">
                        <div class="form-group">
							<label class="form-label">Negara</label>
							<input type="text" class="form-control" id="negara" name="negara">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Kota</label>
							<input type="text" class="form-control" id="kota" name="kota">
							<div id="warning-kota" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
               	<div class="row">
                	<div class="col-md-12 col-lg-12">
                        <div class="form-group">
							<label class="form-label">Nama Kegiatan</label>
							<input type="text" class="form-control" id="nm_giat" name="nm_giat">
							<div id="warning-nm_giat" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12 col-lg-12">
                        <div class="form-group">
							<label class="form-label">Tujuan Kegiatan</label>
							<input type="text" class="form-control" id="tujuan_giat" name="tujuan_giat">
							<div id="warning-tujuan_giat" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Pembiayaan</label>
							<select class="form-control chosen" id="biaya" name="biaya">
								<option value="" style="display: none;">Pilih Data</option>
								<option value="1">DIPA Kantor Pusat</option>
								<option value="2">DIPA Kanwil</option>
								<option value="3">DIPA KPPN</option>
								<option value="4">Lainnya</option>
							</select>
							<div id="warning-biaya" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
					</div>
					<div class="col-md-6 col-lg-8" style="display: none;" id="div-biayalain">
						<div class="form-group">
							<label class="form-label">Sumber Pembiayaan Lainnya</label>
							<input type="text" class="form-control" id="biaya_lain" name="biaya_lain">
					    </div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="form-group">
						<label class="form-label">Upload Surat Undangan</label>
						<input type="file" class="form-control" id="lampiran" name="lampiran">
				    </div>
				</div> -->
				<div class="row" style="display:none;" id="div-aksi">
                	<div class="col-md-6 col-lg-4">
                        <div class="form-group">
							<label class="form-label">Status</label>
							<select class="form-control" id="opsi" name="opsi"></select>
							<div id="warning-opsi" class="invalid-feedback warning">wajib diisi!</div>
                        </div>
					</div>
				</div>
			</div>
			<div class="card-footer text-right">
				<div class="d-flex">
					<a id="batal" href="javascript:void(0)" class="btn btn-link">Batal</a>
					<button id="simpan" type="submit" class="btn btn-primary ml-auto">Simpan</button>
					<button id="submit" type="submit" class="btn btn-primary ml-auto" style="display:none;">Submit</button>
				</div>
			</div>

			</form>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){

		$('.chosen').chosen();

		function form_valid(str_id){
			var arr_id=str_id.split(',');
			var lanjut=true;
			for(x=0;x<arr_id.length;x++){
				if($('#'+arr_id[x]).val()==''){
					$('#warning-'+arr_id[x]).show();
					lanjut=false;
				}
			}
			return lanjut;
	    }

	    $('#tujuan').change(function(){
	    	var tujuan = $(this).val();
	    	if(tujuan == '04'){
	    		$('#div-negara').show();
	    	}
	    	else{
	    		$('#div-negara').hide();
	    	}
	    });

	    $('#biaya').change(function(){
	    	var biaya = $(this).val();
	    	if(biaya == '4'){
	    		$('#div-biayalain').show();
	    	}
	    	else{
	    		$('#div-biayalain').hide();
	    	}
	    });

	    function form_default(){
			$('.warning,#div-form').hide();
			$('input,textarea').val('');
			$('#div-tabel').show();
	    }

	    form_default();

	    $('#batal').click(function(){
			form_default();
	    });

		$.fn.dataTable.ext.errMode = 'none';
		var table = $('#tabel-ruh').DataTable({
			processing: true,
			language:{
				"decimal":        "",
				"emptyTable":     "<center>Tidak ada data tersedia</center>",
				"info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
				"infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
				"infoFiltered":   "(disaring dari _MAX_ total entri)",
				"infoPostFix":    "",
				"thousands":      ",",
				"lengthMenu":     "Tampilkan _MENU_ entri",
				"loadingRecords": "Proses Loading...",
				"processing":     "Sedang Proses...",
				"search":         "Cari:",
				"zeroRecords":    "Tidak ditemukan data yang sesuai",
				"paginate": {
					"first":      "Awal",
					"last":       "Akhir",
					"next":       "Sesudah",
					"previous":   "Sebelum"
				},
				"aria": {
					"sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
					"sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
				}
			},
			serverSide: true,
			ajax: 'izinprinsip',
			columns: [
				{data: 'DT_RowIndex', name: 'DT_RowIndex', className: 'table-center', orderable: false, searchable:false},
				{data: 'nama', name: 'nama'},
				{data: 'unitUndang', name: 'unitUndang'},
				{data: 'nmGiat', name: 'nmGiat'},
				{data: 'tglAwal', name: 'tglAwal'},
				{data: 'tglAkhir', name: 'tglAkhir'},
				{data: 'kota', name: 'kota'},
				{data: 'nmStatus', name: 'nmStatus', orderable: false},
				{data: 'action', name: 'action', orderable: false, searchable: false}
			]
		});

		
		$('body').off('click', '#tambah').on('click', '#tambah', function(){
			$('input,textarea,select').val('');
			$('#unit_undang, #no_surat, #tgl_surat, #perihal, #tujuan, #negara, #kota, #nm_giat, #tujuan_giat, #biaya, #biaya_lain').prop('disabled',false);
			$('#div-tabel, #div-aksi, #submit').hide();
			$('#div-form, #simpan').show();
			$('#inp-new').val('1');
			$('#inp-id').val('');
	    });


	    function edit_data(id) {
	    	$.getJSON('izinprinsip/edit/'+id, function(result) {
	    		if(result){
	    			$('#unit_undang').val(result.unitUndang);
	    			$('#no_surat').val(result.noSurat);
	    			$('#tgl_surat').val(result.tglSurat);
	    			$('#perihal').val(result.hal);
	    			$('#tgl_acara_awal').val(result.tglAwal);
	    			$('#tgl_acara_akhir').val(result.tglAkhir);
	    			$('#tujuan').val(result.kdTujuan).trigger('chosen:updated');
	    			$('#negara').val(result.negara);
	    			$('#kota').val(result.kota);
	    			$('#nm_giat').val(result.nmGiat);
	    			$('#tujuan_giat').val(result.tujuanGiat);
	    			$('#biaya').val(result.idBiaya).trigger('chosen:updated');
	    			$('#biaya_lain').val(result.ketBiaya);
	    		}
	    		else{
	    			alertify.log('Tidak dapat menampilkan data');
	    		}
	    	});
	    }


	    $('body').off('click', '.ubah').on('click', '.ubah', function(){
			$('#unit_undang, #no_surat, #tgl_surat, #perihal, #tujuan, #negara, #kota, #nm_giat, #tujuan_giat, #biaya, #biaya_lain').prop('disabled',false);
			var id=this.id;
			edit_data(id);
			$('#div-tabel, #div-aksi, #submit').hide();
			$('#div-form, #simpan').show();
			$('#inp-new').val('0');
			$('#inp-id').val(id);
	    });


	    $('#simpan').click(function(){
            $('#simpan').html('Loading...');
            $('#simpan').prop('disabled',true);
            var lanjut=form_valid('unit_undang,no_surat,tgl_surat,perihal,tgl_acara_awal,tgl_acara_akhir,tujuan,kota,nm_giat,tujuan_giat,biaya');
            
            if(lanjut==true){
                $.get('token', function(token){
                    if(token){
                        $('#_token').val(token);
                        var data = $('#form-ruh').serialize();
                        if(jQuery('#inp-new').val()=='1'){
                            $.ajax({
                                url:'izinprinsip',
                                method:'POST',
                                data:data,
                                success:function(result){
                                    if(result=='success'){
                                        $('#simpan').html('Simpan');
                                        $('#simpan').prop('disabled',false);
                                        alertify.log('Proses simpan berhasil.');
                                        form_default();
                                        table.ajax.reload();
                                    }
                                    else{
                                        $('#simpan').html('Simpan');
                                        $('#simpan').prop('disabled',false);
                                        alertify.log(result);
                                    }   
                                },
                                error:function(result){
                                    $('#simpan').html('Simpan');
                                    $('#simpan').prop('disabled',false);
                                    alertify.log(result);
                                }
                            });
                        }
                        else{
                            $.ajax({
                                url:'izinprinsip',
                                method:'PUT',
                                data:data,
                                success:function(result){
                                    if(result=='success'){
                                        $('#simpan').html('Simpan');
                                        $('#simpan').prop('disabled',false);
                                        alertify.log('Proses ubah berhasil.');
                                        form_default();
                                        table.ajax.reload();
                                    }
                                    else{
                                        $('#simpan').html('Simpan');
                                        $('#simpan').prop('disabled',false);
                                        alertify.log(result);
                                    }   
                                },
                                error:function(result){
                                    $('#simpan').html('Simpan');
                                    $('#simpan').prop('disabled',false);
                                    alertify.log(result);
                                }
                            });
                        }
                    }
                    else{
                        $('#simpan').html('Simpan');
                        $('#simpan').prop('disabled',false);
                        alertify.log('Proses simpan gagal. Silahkan refresh halaman browser Anda!');
                    }
                });
            }
            else{
                $('#simpan').html('Simpan');
                $('#simpan').prop('disabled',false);
                alertify.log('Kolom tidak boleh dikosongkan!');
            }
        });


        $('body').off('click', '.review').on('click', '.review', function(){
			var id=this.id;
			edit_data(id);
			$('#div-tabel, #simpan').hide();
			$('#div-form, #div-aksi, #submit').show();
			$('#inp-new').val('0');
			$('#inp-id').val(id);
			$('#unit_undang, #no_surat, #tgl_surat, #perihal, #tujuan, #negara, #kota, #nm_giat, #tujuan_giat, #biaya, #biaya_lain').prop('disabled',true);
			$.get('izinprinsip/review/'+id, function(result) {
				$('#opsi').html(result);
			});
	    });


        $('#submit').click(function(){
            $('#submit').html('Loading...');
            $('#submit').prop('disabled',true);
            var lanjut=form_valid('tgl_acara_awal,tgl_acara_akhir,opsi');
            
            if(lanjut==true){
                $.get('token', function(token){
                    if(token){
                        $('#_token').val(token);
                        var data = $('#form-ruh').serialize();
                        $.ajax({
                            url:'izinprinsip/review',
                            method:'POST',
                            data:data,
                            success:function(result){
                                if(result=='success'){
                                    $('#submit').html('Submit');
                                    $('#submit').prop('disabled',false);
                                    alertify.log('Proses review berhasil.');
                                    form_default();
                                    table.ajax.reload();
                                }
                                else{
                                    $('#submit').html('Submit');
                                    $('#submit').prop('disabled',false);
                                    alertify.log(result);
                                }   
                            },
                            error:function(result){
                                $('#submit').html('Submit');
                                $('#submit').prop('disabled',false);
                                alertify.log(result);
                            }
                        });
                    }
                    else{
                        $('#submit').html('Submit');
                        $('#submit').prop('disabled',false);
                        alertify.log('Proses simpan gagal. Silahkan refresh halaman browser Anda!');
                    }
                });
            }
            else{
                $('#submit').html('Submit');
                $('#submit').prop('disabled',false);
                alertify.log('Kolom tidak boleh dikosongkan!');
            }
        });

        $('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id=this.id;
			alertify.confirm('Hapus data ini?', function(e){
				if(e){
					$.get('token', function(token){
						if(token){
							$.ajax({
								url:'izinprinsip',
								method:'DELETE',
								data:{
									_token:token,
									id:id
								},
								success:function(result){
									if(result=='success'){
										alertify.log('Proses hapus berhasil.');
										form_default();
										table.ajax.reload();
									}
									else{
										alertify.log(result);
									}
								},
								error:function(result){
									alertify.log(result);
								}
							});
						}
						else{
							alertify.log('Proses hapus gagal. Silakan refresh halaman browser Anda!');
						}
					});
				}
			});
		});

		$('body').off('click', '.cetak').on('click', '.cetak', function(){
			var id = this.id;
			window.open('izinprinsip/cetak/nd/'+id,'_blank');
		});
    
	});
</script>