<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<div class="row" id="div-tabel">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Monitoring Pengajuan</h3>&nbsp;
			</div>
			<div class="table-responsive">
				<table id="tabel-ruh" class="table card-table table-vcenter text-nowrap">
					<thead>
						<tr>
							<th>No</th>
							<th>Nama</th>
							<th>Inisiator/<br>Pengundang</th>
							<th>Nama Kegiatan</th>
							<th>Tanggal<br>Mulai</th>
							<th>Tanggal<br>Akhir</th>
							<th>Kota</th>
							<th>Status</th>
							<th>Waktu<br>Proses</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){

		$('.chosen').chosen();

		function form_valid(str_id){
			var arr_id=str_id.split(',');
			var lanjut=true;
			for(x=0;x<arr_id.length;x++){
				if($('#'+arr_id[x]).val()==''){
					$('#warning-'+arr_id[x]).show();
					lanjut=false;
				}
			}
			return lanjut;
	    }

	    $.fn.dataTable.ext.errMode = 'none';
		var table = $('#tabel-ruh').DataTable({
			processing: true,
			language:{
				"decimal":        "",
				"emptyTable":     "<center>Tidak ada data tersedia</center>",
				"info":           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
				"infoEmpty":      "Menampilkan 0 sampai 0 dari 0 entri",
				"infoFiltered":   "(disaring dari _MAX_ total entri)",
				"infoPostFix":    "",
				"thousands":      ",",
				"lengthMenu":     "Tampilkan _MENU_ entri",
				"loadingRecords": "Proses Loading...",
				"processing":     "Sedang Proses...",
				"search":         "Cari:",
				"zeroRecords":    "Tidak ditemukan data yang sesuai",
				"paginate": {
					"first":      "Awal",
					"last":       "Akhir",
					"next":       "Sesudah",
					"previous":   "Sebelum"
				},
				"aria": {
					"sortAscending":  ": aktifkan untuk mengurutkan kolom (asc)",
					"sortDescending": ": aktifkan untuk mengurutkan kolom (desc)"
				}
			},
			serverSide: true,
			ajax: 'izinprinsip/mon',
			columns: [
				{data: 'DT_RowIndex', name: 'DT_RowIndex', className: 'table-center', orderable: false, searchable:false},
				{data: 'nama', name: 'nama'},
				{data: 'unitUndang', name: 'unitUndang'},
				{data: 'nmGiat', name: 'nmGiat'},
				{data: 'tglAwal', name: 'tglAwal'},
				{data: 'tglAkhir', name: 'tglAkhir'},
				{data: 'kota', name: 'kota'},
				{data: 'nmStatus', name: 'nmStatus', orderable: false},
				{data: 'created_at', name: 'created_at'},
			]
		});
    
	});
</script>